@{
    ViewData["Title"] = "Katalog";
    ViewData["Headline"] = "Online katalog";
}

    <main>

        <div class="Katalog_wrap">

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/frakkesort1.png" />
                    <div>
                        <p>Tøj 1</p>
                        <p class="blue_text">200 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/skjorteblue1.png" />
                    <div>
                        <p>Tøj 2</p>
                        <p class="blue_text">100 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/trojehvid1.png" />
                    <div>
                        <p>Tøj 3</p>
                        <p class="blue_text">150 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/frakkesort1.png" />
                    <div>
                        <p>Tøj 4</p>
                        <p class="blue_text">200 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/skjorteblue1.png" />
                    <div>
                        <p>Tøj 5</p>
                        <p class="blue_text">100 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/trojehvid1.png" />
                    <div>
                        <p>Tøj 6</p>
                        <p class="blue_text">150 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/frakkesort1.png" />
                    <div>
                        <p>Tøj 7</p>
                        <p class="blue_text">200 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/skjorteblue1.png" />
                    <div>
                        <p>Tøj 8</p>
                        <p class="blue_text">100 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/trojehvid1.png" />
                    <div>
                        <p>Tøj 9</p>
                        <p class="blue_text">150 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/frakkesort1.png" />
                    <div>
                        <p>Tøj 10</p>
                        <p class="blue_text">200 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/skjorteblue1.png" />
                    <div>
                        <p>Tøj 11</p>
                        <p class="blue_text">100 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/trojehvid1.png" />
                    <div>
                        <p>Tøj 12</p>
                        <p class="blue_text">150 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/trojehvid1.png" />
                    <div>
                        <p>Tøj 13</p>
                        <p class="blue_text">150 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/frakkesort1.png" />
                    <div>
                        <p>Tøj 14</p>
                        <p class="blue_text">200 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/skjorteblue1.png" />
                    <div>
                        <p>Tøj 15</p>
                        <p class="blue_text">100 kr.</p>
                    </div>
                </a>
            </div>

            <div class="Katalog_box">
                <a asp-area="" asp-controller="Home" asp-action="TojInfo">
                    <img src="~/img/trojehvid1.png" />
                    <div>
                        <p>Tøj 16</p>
                        <p class="blue_text">150 kr.</p>
                    </div>
                </a>
            </div>

        </div>

        <div class="button_wrap">
            <button onclick="myMoreButton()" id="BtnMore">HENT FLERE</button>
        </div>

    </main>