@{
    ViewData["Title"] = "Kontakt";
    ViewData["Headline"] = "Kontakt";
}

<main>

    <div class="kontakt_wrapper">
        <p>
            Spicy jalapeno bacon ipsum dolor amet pork loin kevin tongue beef ribs, andouille pork burgdoggen salami ribeye shankle meatloaf. Biltong flank doner chislic chicken pork. Kevin ham shank tail, pork bresaola jowl. Tenderloin salami t-bone shankle spare ribs, beef short ribs bacon buffalo doner ham hamburger.
        </p>

        <form>

            <input type="text" placeholder="Navn:" name="Navn" required />

            <input type="text" placeholder="E-mail:" name="email" required />

            <input type="text" placeholder="Telefon:" name="telefon" required />

            <textarea type="text" placeholder="Spørgsmål/kommentar:" name="kommentar" required></textarea>

            <input type="submit" value="Send" />

        </form>
    </div>

</main>
