@{
    ViewData["Title"] = "Om os";
    ViewData["Headline"] = "Om os";
}

<main>

    <div class="description, text_column">
        <p>
            Brisket alcatra tri-tip tenderloin meatball short ribs ground round kevin picanha buffalo cupim. Short ribs brisket swine pork chop. Brisket drumstick rump strip steak, meatloaf porchetta salami andouille turkey beef ribs flank shankle. Pork belly ball tip turducken pork tri-tip shank. Chislic tri-tip landjaeger, pancetta strip steak tenderloin venison pastrami beef jerky pork. Pork t-bone pig corned beef, turducken brisket rump drumstick leberkas kielbasa tongue ham hock shankle picanha.

            Tenderloin bacon pig kielbasa pork belly pancetta pastrami tail buffalo landjaeger spare ribs beef. Chicken ham hock tri-tip prosciutto. Burgdoggen tenderloin alcatra, picanha ground round chislic pork loin doner. Jerky ribeye turkey beef ribs chuck, biltong short ribs short loin chislic kielbasa turducken pork landjaeger shankle venison. Prosciutto alcatra chicken, shank ham short ribs pancetta
        </p>
    </div>

    <div class="two_images">
        <img src="~/img/tojbutik1.jpeg" />
        <img src="~/img/tojbutik2.png" />
    </div>

</main>
