@{
    ViewData["Title"] = "Katalog";
    ViewData["Headline"] = "Tøj";
}

<main>

    <div class="description">

        <p>
            Materiale: 100% bomuld
            <br />
            Plejeanvisning: Maskinvask ved 40°C, ikke egnet til tørretumbler, skånevask
            <br />
            Pasform: Muscle fit
        </p>
        <p>
            Skjorte i vævet bomuldsblanding med stretch. Skjorten har smal turn down-krave og fransk knapstolpe. Lange ærmer og manchet med justerbar lukning. Bærestykkeskæring og indsnit i ryggen. Afrundet kant forneden. Muscle Fit – en pasform, som fremhæver kroppen på bedste vis. Smalle skuldre og taljeret snit, som giver en tiltrækkende silhuet.
        </p>

        <p>
            varenr.: 0809757001
        </p>

        <p>
            Pris
        </p>
    </div>

    <div class="image_display">
        <img src="~/img/frakkesort1.png" />
        <img src="~/img/frakkesort2.png"/>
        <img src="~/img/frakkesort1.png"/>
    </div>

</main>
