
    <footer>


        <div class="footer_sides">
            <div>
                <h4>Du finder os her</h4>
                <p>Kongensgade 123 5000 odense C</p>
            </div>
        </div>

        <div class="footer_middel">
            <img src="~/img/logo.PNG" alt="logo" class="logo"/>
            <p class="footer_middel_paragraf">
                Tøja tilbyder mode og kvalitet til bedste pris på bæredygtig vis. 
            </p>
            <p class="footer_middel_paragraf">
                Siden grundlæggelsen i 1990 har Tøja udviklet sig til en af Danmarks førende
                fashionvirksomheder.
            </p>
        </div>

        <div class="footer_sides">
            <div>
                <h4>Kontaktinfo</h4>
                <p>
                    Telefon: 87 65 43 21
                </p>
                <p>
                    Email: info@toja.dk
                </p>
            </div>
        </div>

    </footer>
