

<header>

    <img src="~/img/logo.PNG" alt="logo" class="logo" />

    <nav>
        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Forside</a>
                <a asp-area="" asp-controller="Home" asp-action="Katalog">Katalog</a>
                <a asp-area="" asp-controller="Home" asp-action="OmOs">Om os</a>
                <a asp-area="" asp-controller="Home" asp-action="Kontakt">Kontakt</a>
            </li>
        </ul>
    </nav>

    <ul>
        <li>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
        </li>
    </ul>


</header>
